**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.gz
**/*.aux
**/*.class
**/*.lst
**/*.jar
**/*.prefs
/target/
/target/surefire-reports/
/.idea/
/.vscode/
!.vscode/settings.json
/*.iml
/logs/
/*.log
*.class
*.jar
*.war
*.ear
